html, body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

canvas {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 700px;
    height: 400px;
    background: url('../img/bg.jpg') no-repeat;
    background-position: center; 
    background-size: 100%;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}